{%- comment -%}
  Renders product price with compare-at strikethrough and unit price.
  Usage: {% render 'price', product: product, show_unit_price: true %}
{%- endcomment -%}

{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign price = current_variant.price
  assign compare_at = current_variant.compare_at_price
  assign on_sale = false
  if compare_at > price
    assign on_sale = true
  endif
  assign unit_price_available = false
  if current_variant.unit_price_measurement and show_unit_price
    assign unit_price_available = true
  endif
-%}

<div class="price{% if on_sale %} price--on-sale{% endif %}" data-product-price>
  <div class="price__row">
    {%- if on_sale -%}
      <span class="price__compare visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      <s class="price__compare">{{ compare_at | money }}</s>
    {%- endif -%}
    <span class="price__current">{{ price | money }}</span>
  </div>

  {%- if unit_price_available -%}
    <div class="price__unit">
      <span>{{ current_variant.unit_price | money }}</span>
      <span>/</span>
      {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
        <span>{{ current_variant.unit_price_measurement.reference_value }}</span>
      {%- endif -%}
      <span>{{ current_variant.unit_price_measurement.reference_unit }}</span>
    </div>
  {%- endif -%}
</div>
