<!-- snippets/product-badge.liquid -->
{% comment %}
  Product eyebrow badge.

  Accepts:
  - block: {object} The block object with settings.

  Usage:
    {% render 'product-badge', block: block %}
{% endcomment %}

{% liquid
  assign badge_label = block.settings.badge_text | default: 'Badge'
  assign badge_icon = block.settings.icon | default: ''
%}

<div
  class="w-full px-4"
  style="
    padding-top:{{ block.settings.spacing_top }}px;
    padding-bottom:{{ block.settings.spacing_bottom }}px;
  "
  {{ block.shopify_attributes }}
>
  <div
    class="border__element--radius border--width inline-flex items-center gap-2 px-2 py-1"
    style="
      background-color: {{ block.settings.badge_bg_color }};
      color: {{ block.settings.badge_font_color }};
      border-color: {{ block.settings.badge_bg_color }};
    "
  >
    {% unless badge_icon == blank %}
      {% render 'component__icon', icon: badge_icon, size: '14' %}
    {% endunless %}
    <span class="type--smaller flex items-center">{{ badge_label }}</span>
  </div>
</div>
